
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    min-height: 100vh;
    padding: 20px;
}

#form-submit{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.name-container,
.address-container,
.pincode-container,
.gender-container,
.state-container,
.country-container,
.food-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.input-name-container{
    display: flex;
    gap: 10px;
}

.first-name{
    display: flex;
    width: 290px;
}

.last-name{
    display: flex;
    width: 290px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.first-name,
.last-name,
.input-details{
    padding: 5px;
}

.first-name:hover,
.last-name:hover,
.input-details:hover{
    outline: none;
    border-color: dodgerblue;
}

.first-name:focus,
.last-name:focus,
.input-details:focus{
    outline: none;
    border-color:greenyellow;
}

select{
    padding: 5px;
}

.submit {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px gray;
    background-color: white;
}

.submit:hover {
    background-color: whitesmoke;
}

table,
th,
tr,
td {
    padding: 10px;
    border: 2px solid gray;
    border-collapse: collapse;
}
